.bot-list-container {
    display: flex;
    flex-wrap: wrap;  
    gap: 20px;
  }
  
  .bot-card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    background-color: white;
   
  }
  
  .bot-card img {
    max-width: 100%;
    height: auto;
    background-color: #efefef;
  }
  
  
  
  .your-bot-army {
    background-color: rgb(236, 178, 236);
    padding: 20px;
   
  }
  
  .bot-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  h1 {
    text-align: center;
  }